In [1]:
  # set up
import pandas as pd
import numpy as np
import pickle
import time 
import os
from datetime import datetime
from operator import itemgetter
data_folder_path = 'C:\\Users\\goodluck\\Desktop\\DB'
raw_data_path =  "C:\\Users\\goodluck\\Desktop\\DB\\raw_data"
storage_path =  "C:\\Users\\goodluck\\Desktop\\DB\\database_storage"
DTBS_path = os.path.join(storage_path, "DTBS.pkl")
with open(DTBS_path, 'rb') as f:  
    DTBS = pickle.load(f)

In [2]:
cz_path =  os.path.join(raw_data_path, "qstj.CSV")
cz_df = pd.read_csv(cz_path)
cz_df.set_index('id',inplace=True)
cz_df

,110088.SH,113545.SH,113631.SH,123128.SZ,123156.SZ,127027.SZ,127061.SZ,110047.SH,110063.SH,110070.SH,...,111013.SH,123195.SZ,123193.SZ,113669.SH,123192.SZ,113670.SH,118034.SH,123196.SZ,127085.SZ,123197.SZ
id,,,,,,,,,,,,,,,,,,,,,
rate,130,130,130,130,130,130,130,130,130,130,...,130,130,130,130,130,130,120,130,130,130
t1,15,15,15,15,15,15,15,15,15,15,...,15,15,15,15,15,15,15,15,15,15
t2,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,30

In [3]:
for code in cz_df.columns:
    DTBS['B'][code]['qr'] = cz_df[code]['rate']
    DTBS['B'][code]['qt1'] = cz_df[code]['t1']
    DTBS['B'][code]['qt2'] = cz_df[code]['t2']

In [4]:
# save
f_save = open(DTBS_path, 'wb')
pickle.dump(DTBS, f_save)
f_save.close()